upstream apps {
  {% for app_srv in alar_app_eu_central_1b.instances %}
      server {{ app_srv.private_ip_address }}; # id {{ app_srv.instance_id }}, az {{ app_srv.placement.availability_zone }}, subnet {{ app_srv.subnet_id }}
  {% endfor %}
}
server {
  listen 80;
  location / {
    proxy_pass http://apps;
  }
}
